.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
}

.remember {
  text-align: left;
}

.submit {
  width: 100%;
}
